/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background:url("https://cdn.glitch.com/3d981884-5a78-4e61-9bfe-374ecf566552%2FIM000361.jpg?v=1612397407749");
}

h1 {
  font-style: italic;
  color: #373fff;
}

td {
  background:black;
  color:red;
  border-radius:8px;
  padding:2px;
}

a {
  color:red;
}
table.main {
  border:gold;
  background:transparent;
  align:"center";
}

.title {
  font:65px;
  color:red;
  background:black;
  width:50%;
  border-radius:8px;
}
.big {font:30pt} 


