/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin-right: 18px;
  background: url("https://cdn.glitch.com/3d981884-5a78-4e61-9bfe-374ecf566552%2FIM000361.jpg?v=1612397407749");
  background-size: cover;
}

h1 {
  border: 5px solid red;
  font-size: 35px;
  color: red;
  background: black;
  width: 50%;
  border-radius: 12px;
}

td {
  background: black;
  color: red;
  border-radius: 8px;
  padding: 2px;
}

a {
  color: red;
  font-weight: bold;
  border-radius: 12px;
  text-align: center;
  display: block;
}
a:hover {
  color: gold;
  display: block;
  text-align: center;
}

img {
  border: solid 5px;
  border-radius: 12px;
  
}

table.main {
  border-color: gold;
  background: transparent;
  align: "center";
}

textarea {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.title {
}

.big {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.blue {
  width: 90%;
  background-color: rgb(25, 229, 255, 0.8);
  border-radius: 15px;
}
.detail {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  border: 5px solid red;
}

.evenSpaced {
  display: flex;
  justify-content: space-between;
}

#blackout {
    background-color:rgb(0,0,0,.5);
    
  }

/* If the screen size is 601px or more, set the font-size  */
@media only screen and (min-width: 601px) {
  
  h1 {
    font-size:50px;
  }
  
  a {
    font-size: 30px;
  }

  .big {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
  }
  .title {
    border: 5px solid red;
    font-size: 50px;
    color: red;
    background: black;
    width: 60%;
    border-radius: 12px;
  }
  
  .detail{
    
  }
  

}
