/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin-right: 18px;
  background: url("https://cdn.glitch.com/3d981884-5a78-4e61-9bfe-374ecf566552%2FIM000361.jpg?v=1612397407749");
  background-size: cover;
}

h1 {
  font-style: italic;
  color: #373fff;
}

td {
  background: black;
  color: red;
  border-radius: 8px;
  padding: 2px;
}

a {
  color: red;
  font-weight: bold;
  border-radius: 12px;
  text-align: center;
  display: block;
}
a:hover {
  color: gold;
  display: block;
  text-align: center;
}

img {
  border: solid 5px;
  border-radius: 12px;
}

table.main {
  border-color: gold;
  background: transparent;
  align: "center";
}

textarea {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.title {
  border: 5px solid red;
  font-size: 30px;
  color: red;
  background: black;
  width: 60%;
  border-radius: 12px;
}

.big {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.blue {
  width: 90%;
  background-color: rgb(25, 229, 255, 0.8);
  border-radius: 15px;
}
